Basic global resets * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #121212;
  color: #f0f0f0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  text-align: left;
  font-weight: bolder;
  font-size: 24px;
  padding: 1rem;
  background-color: grey;
  color: black;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: gray;
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

button {
  background-color: #444;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .navbar a {
    display: block;
    margin: 10px 0;
  }

  .footer {
    padding: 10px;
  }
}
